.dialog {
  border-radius: 10px;
  
  &__title {
    padding-top: 80px;
  }

  &__btn {
    width: 150px;
    height: 42px;
    margin: 10px 20px;
  }

  &__input {
    @include main-input-without-width;
  }
}
