.index {
  margin-top: 10px;

  &__filter-btn {
    @include main-filter-btn;
    &:hover{
      background-color: var(--blue-color);
    }
  }

  &__btn {
    @include main-btn;
    &:hover{
      background-color: var(--blue-color);
    }
  }


}