.personal {
  margin-top: 10px;

  &__title {
    @include name-of-create-page;
  }

  &__value {
    @include not-full-section;
  }

  &__img {
    background-color: var(--secondary-color);
    border-radius: 10px;
  }

  &__input {
    @include main-input-without-width;
  }

  &__day-margin {
    margin-top: 0;
  }
}
