%menu-items {
  font-size: 14px;
  margin: 0 15px;
  cursor: pointer;
}

//btn
%main-btn {
  background-color: var(--light-color);
  height: 48px;
  border-radius: 13px;
  font-size: 14px;
  width: 150px;
}
%main-filter-btn {
  background-color: var(--light-color);
  height: 48px;
  border-radius: 13px;
  font-size: 14px;
  width: 62px;
}
%secondary-btn {
  font-size: 12px;
  border-radius: 10px;
  width: 150px;
  height: 42px;
  margin-top: 10px;
  background-color: var(--secondary-color);
}

//search input
%main-search {
  max-width: 404px;
  height: 42px;
  border-radius: 15px;
  background-color: var(--light-color);
  display: inline-block;
}

//table
%main-table-head-th {
  background-color: var(--blue-color);
  font-size: 14px;
  font-weight: normal;
  border-right: 2px solid var(--light-color);
}
%main-data-table-td {
  border-bottom: none !important;
  border-right: 3px solid  var(--secondary-color);
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

// create page
%name-of-create-page {
  width: 404px;
  margin-top: 7px;
  padding: 10px 0;
  border-radius: 15px;
  background-color: var(--light-color);
  text-align: center;
  align-items: center;
}
%full-section {
  background-color: var(--light-color);
  height: 86vh;
  border-radius: 15px;
  padding: 4rem 4rem;
}
%not-full-section {
  background-color: var(--light-color);
  border-radius: 15px;
  padding: 2rem 3rem;
}

// input
%main-input-without-width {
  margin-top: 10px;
  height: 42px;
  border-radius: 10px;
}
%main-input-width-200 {
  margin-top: 10px;
  height: 42px;
  border-radius: 10px;
  width: 200px;
}
%main-input-width-150 {
  margin-top: 10px;
  height: 42px;
  border-radius: 10px;
  width: 150px;
}
%blank-time-input {
  width: 80%;
  height: 35px;
  margin-top: 12px;
  padding: 0 15px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}
%main-textarea {
  margin-top: 10px;
  border-radius: 10px;
}
%name-of-survey {
  margin-top: 10px;
  height: 42px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 10px 25px;
}

section {
  margin-top: 10px;

// Create default
// Header
  .create-id {
    @extend %name-of-create-page;
  }

// Value (form)
  .create-value {
    @extend %full-section;
    .create-main-input {
      @extend %main-input-without-width;
    }
    .create-main-input-cassa{
      @extend %main-input-width-200;
    }
    .create-child-input{
      @extend %main-input-width-150;
    }
    .complaint-value-btn{
      @extend %secondary-btn;
    }
  }

// Create Personal page
  .create-value-personal{
    @extend %not-full-section;
    .image-personal{
      background-color: var(--secondary-color);
      border-radius: 10px;
    }
    .create-main-input {
      @extend %main-input-without-width;
    }
    .personal-createP-day{
      margin-top: 0px;
    }
    .personal-createP-btn{
      @extend %secondary-btn; 
    }
    .create-main-textarea{
      @extend %main-textarea;
    }
    .complaint-value-btn{
      @extend %secondary-btn;
    }
  }

// Patient Complaint Page 
  .complaint-value{
    @extend %full-section;
    .complaint-value-textarea{
      @extend %main-textarea;
    }
  }

//Records Survey Show Page
  .survey-of-patient-value{
    @extend %not-full-section;
    .complaint-value-textarea{
      @extend %main-textarea;
    }
    .complaint-value-btn{
      @extend %secondary-btn;
    }
    .name-of-survey {
      @extend %name-of-survey;
    }
    .create-main-input{
      @extend %main-input-without-width;
    }
  }
}

// Survey Edit page 
.survey-edit-dialog{
  padding-top: 80px;
  .survey-edit-dialog-btn{
    width: 150px;
    height: 42px;
    margin: 10px 20px;
  }
}

